<a href="https://colab.research.google.com/github/nasnah-hansan/Pandas/blob/main/Pandas_practice_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ğŸš€ ê³¼ì œ 1: ë°ì´í„° ë¡œë“œ ë° ì´ˆê¸° íƒìƒ‰ (ì •ì œ ì¤€ë¹„)

- ë°ì´í„° ë¡œë“œ ë° í™•ì¸: CSV íŒŒì¼ì„ DataFrameìœ¼ë¡œ ë¡œë“œí•˜ê³ , ì²˜ìŒ 5ê°œ í–‰ì„ í™•ì¸í•˜ì„¸ìš”.

- êµ¬ì¡° íŒŒì•…: info() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ì „ì²´ í–‰ ìˆ˜, ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì—´, ê·¸ë¦¬ê³  ê° ì—´ì˜ ë°ì´í„° íƒ€ì… (dtype)ì„ í™•ì¸í•˜ê³  ì •ë¦¬í•˜ì„¸ìš”.

- í†µê³„ ìš”ì•½: describe() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ìˆ«ìí˜• ì—´ì˜ ìµœì†Œê°’, ìµœëŒ€ê°’, í‰ê· , í‘œì¤€í¸ì°¨ ë“±ì„ ë¹ ë¥´ê²Œ í™•ì¸í•˜ê³  ì´ìƒì¹˜ë¥¼ ëŒ€ëµì ìœ¼ë¡œ íŒŒì•…í•˜ì„¸ìš”.

ğŸš€ ê³¼ì œ 2: ê²°ì¸¡ì¹˜ ë° ì˜¤ë¥˜ ì²˜ë¦¬ (ì •ì œ)

- ê²°ì¸¡ì¹˜ í™•ì¸: ê° ì—´ì˜ ê²°ì¸¡ì¹˜ ê°œìˆ˜ì™€ ë¹„ìœ¨ì„ ê³„ì‚°í•˜ì„¸ìš”. (isnull().sum() / len(df) * 100)

- ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ì „ëµ:

    > ë¹„ìœ¨ì´ ë†’ì€ ì—´: ê²°ì¸¡ì¹˜ ë¹„ìœ¨ì´ 50%ë¥¼ ì´ˆê³¼í•˜ëŠ” ì—´ì´ ìˆë‹¤ë©´, í•´ë‹¹ ì—´ì„ DataFrameì—ì„œ ì œê±°í•˜ì„¸ìš”. (dropna(axis=1))

    > ì¤‘ìš” ì—´: í•µì‹¬ ë¶„ì„ì— í•„ìš”í•œ ì—´ (ì˜ˆ: ê°€ê²©, ìˆ˜ëŸ‰)ì— ê²°ì¸¡ì¹˜ê°€ ìˆë‹¤ë©´, í‰ê·  ë˜ëŠ” ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ì„¸ìš”. (fillna())

    > ë²”ì£¼í˜• ì—´: ë²”ì£¼í˜• ì—´ì˜ ê²°ì¸¡ì¹˜ëŠ” 'Unknown' ë˜ëŠ” ìµœë¹ˆê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ì„¸ìš”.

ğŸš€ ê³¼ì œ 3: ë°ì´í„° ë³€í™˜ ë° íŒŒìƒ ë³€ìˆ˜ ìƒì„± (ë³€í™˜)

- íƒ€ì… ë³€í™˜: ë‚ ì§œ/ì‹œê°„ ì •ë³´ë¥¼ í¬í•¨í•˜ëŠ” ì—´ì´ ìˆë‹¤ë©´, pd.to_datetime()ì„ ì‚¬ìš©í•˜ì—¬ datetime íƒ€ì…ìœ¼ë¡œ ì •í™•íˆ ë³€í™˜í•˜ì„¸ìš”.

- íŒŒìƒ ë³€ìˆ˜ ìƒì„±: ë¶„ì„ì— ìœ ìš©í•œ ìƒˆë¡œìš´ ì—´ì„ ë§Œë“œì„¸ìš”. ì˜ˆë¥¼ ë“¤ì–´, 'êµ¬ë§¤ ê¸ˆì•¡'ê³¼ 'í• ì¸ìœ¨'ì´ ìˆë‹¤ë©´ 'ì‹¤ì œ ì§€ë¶ˆì•¡' ì—´ì„ ê³„ì‚°í•˜ì—¬ ì¶”ê°€í•˜ì„¸ìš”. (íŒíŠ¸: ë²¡í„°í™” ì—°ì‚° í™œìš©)

ğŸš€ ê³¼ì œ 4: ê·¸ë£¹í™” ë° ì§‘ê³„ ë¶„ì„ (ë¶„ì„)

- í•µì‹¬ ì§€í‘œ ì‚°ì¶œ: íŠ¹ì • ë²”ì£¼í˜• ì—´ (ì˜ˆ: 'êµ­ê°€', 'ì œí’ˆ ì¹´í…Œê³ ë¦¬')ì„ ê¸°ì¤€ìœ¼ë¡œ **groupby()**ë¥¼ ì‚¬ìš©í•˜ì—¬ ë‹¤ìŒì„ ìˆ˜í–‰í•˜ì„¸ìš”.

- ê·¸ë£¹ë³„ í‰ê· , í•©ê³„, ê°œìˆ˜ë¥¼ ë™ì‹œì— ê³„ì‚°í•˜ì„¸ìš”. (agg() í™œìš©)

- ê°€ì¥ ê±°ë˜ì•¡ì´ ë†’ì€ ìƒìœ„ 5ê°œ ê·¸ë£¹ì„ ì°¾ìœ¼ì„¸ìš”. (sort_values() í™œìš©)

ğŸš€ ê³¼ì œ 5: ë°ì´í„° ì„ íƒ ë° ì¡°ê±´ë¶€ ì²˜ë¦¬ (ìˆ™ë ¨ë„)

- ë³µí•© ì¡°ê±´ í•„í„°ë§: loc[] ë˜ëŠ” ë¶€ìš¸ ë§ˆìŠ¤í‚¹ì„ ì‚¬ìš©í•˜ì—¬ 'ê°€ê²©ì´ 100 ì´ìƒ' ì´ë©´ì„œ 'ì§€ì—­ì´ ì„œìš¸'ì¸ ë°ì´í„°ë§Œ ì¶”ì¶œí•˜ì„¸ìš”.
- ì¡°ê±´ë¶€ ê°’ ë³€ê²½: íŠ¹ì • ì¡°ê±´ (ì˜ˆ: 'ë‚˜ì´'ê°€ 60ì„¸ ì´ìƒ)ì„ ë§Œì¡±í•˜ëŠ” í–‰ì˜ 'ë“±ê¸‰' ì—´ ê°’ì„ 'Gold'ì—ì„œ **'VIP'**ë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [1]:
import pandas as pd
from google.colab import files
import os

In [2]:
# í´ë”ì— ìˆëŠ” íŒŒì¼ëª… ê°€ì ¸ì˜¤ê¸°
file_names = os.listdir('/content/drive/MyDrive/Colab Notebooks/Ecommerce Order Dataset/train')

variable_names = []
for name in file_names:
  variable_names.append(name[:-4])
# ë‘ê°œì˜ ë¬¸ì ì‚¬ì´ë¥¼ ìë¥´ëŠ” ê²ƒì€ ì¢€ ë” ë³µì¡í•œ ê²ƒ ê°™ìŒ
# for name in file_names:
#   variable_names.append(name.split('_'))

In [3]:
for i in variable_names:
  globals()['{}'.format(i)] = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Ecommerce Order Dataset/train/{}.csv'.format(i))
  # uniqueëŠ” ì¤‘ë³µë˜ì§€ ì•ŠëŠ” dataì˜ ê°¯ìˆ˜
  print(globals()[i].info())
  print(globals()[i].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          89316 non-null  object
 1   product_id        89316 non-null  object
 2   seller_id         89316 non-null  object
 3   price             89316 non-null  float64
 4   shipping_charges  89316 non-null  float64
dtypes: float64(2), object(3)
memory usage: 3.4+ MB
None
              price  shipping_charges
count  89316.000000      89316.000000
mean     340.900543         44.283210
std      557.459897         37.672491
min        0.850000          0.000000
25%       59.650000         20.110000
50%      136.900000         35.055000
75%      399.200000         57.190000
max     6735.000000        409.680000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               89316 non-null  object
 1   customer_zip_code_prefix  89316 non-null  int64
 2   customer_city             89316 non-null  object
 3   customer_state            89316 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB
None
       customer_zip_code_prefix
count              89316.000000
mean               40499.471080
std                31194.386361
min                 1003.000000
25%                 9785.000000
50%                35480.000000
75%                70040.000000
max                99990.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             89316 non-null  object
 1   product_category_name  89008 non-null  object
 2   product_weight_g       89301 non-null  float64
 3   product_length_cm      89301 non-null  float64
 4   product_height_cm      89301 non-null  float64
 5   product_width_cm       89301 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.1+ MB
None
       product_weight_g  product_length_cm  product_height_cm  \
count      89301.000000       89301.000000       89301.000000
mean        2087.068129          30.220658          16.559423
std         3747.039215          16.110199          13.388514
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1800.000000          38.000000          20.000000
max        40425.000000         105.000000         105.000000

       product_width_cm
count       89301.00000
mean           23.03421
std            11.68828
min             6.00000
25%            15.00000
50%            20.00000
75%            30.00000
max           118.00000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              89316 non-null  object
 1   payment_sequential    89316 non-null  int64
 2   payment_type          89316 non-null  object
 3   payment_installments  89316 non-null  int64
 4   payment_value         89316 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.4+ MB
None
       payment_sequential  payment_installments  payment_value
count        89316.000000          89316.000000   89316.000000
mean             1.099646              2.965717     268.657190
std              0.772658              2.796406     344.409566
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      84.340000
50%              1.000000              2.000000     171.860000
75%              1.000000              4.000000     313.530000
max             29.000000             24.000000    7274.880000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB
None
            order_id   customer_id order_status order_purchase_timestamp  \
count          89316         89316        89316                    89316
unique         89316         89316            7                    72775
top     Xo1fqyXOC6CR  rhevVNXYJnEs    delivered      2017-08-08 20:26:31
freq               1             1        87428                       87

          order_approved_at order_delivered_timestamp  \
count                 89307                     87427
unique                68215                     71143
top     2017-08-08 20:43:31       2017-08-14 12:46:18
freq                     87                        87

       order_estimated_delivery_date
count                          89316
unique                           444
top                       2017-12-20
freq                             500