<a href="https://colab.research.google.com/github/nasnah-hansan/Pandas/blob/main/Pandas_practice_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üöÄ Í≥ºÏ†ú 1: Îç∞Ïù¥ÌÑ∞ Î°úÎìú Î∞è Ï¥àÍ∏∞ ÌÉêÏÉâ (Ï†ïÏ†ú Ï§ÄÎπÑ)

- Îç∞Ïù¥ÌÑ∞ Î°úÎìú Î∞è ÌôïÏù∏: CSV ÌååÏùºÏùÑ DataFrameÏúºÎ°ú Î°úÎìúÌïòÍ≥†, Ï≤òÏùå 5Í∞ú ÌñâÏùÑ ÌôïÏù∏ÌïòÏÑ∏Ïöî.

- Íµ¨Ï°∞ ÌååÏïÖ: info() Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Ï†ÑÏ≤¥ Ìñâ Ïàò, Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïó¥, Í∑∏Î¶¨Í≥† Í∞Å Ïó¥Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ (dtype)ÏùÑ ÌôïÏù∏ÌïòÍ≥† Ï†ïÎ¶¨ÌïòÏÑ∏Ïöî.

- ÌÜµÍ≥Ñ ÏöîÏïΩ: describe() Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Ïà´ÏûêÌòï Ïó¥Ïùò ÏµúÏÜåÍ∞í, ÏµúÎåÄÍ∞í, ÌèâÍ∑†, ÌëúÏ§ÄÌé∏Ï∞® Îì±ÏùÑ Îπ†Î•¥Í≤å ÌôïÏù∏ÌïòÍ≥† Ïù¥ÏÉÅÏπòÎ•º ÎåÄÎûµÏ†ÅÏúºÎ°ú ÌååÏïÖÌïòÏÑ∏Ïöî.

üöÄ Í≥ºÏ†ú 2: Í≤∞Ï∏°Ïπò Î∞è Ïò§Î•ò Ï≤òÎ¶¨ (Ï†ïÏ†ú)

- Í≤∞Ï∏°Ïπò ÌôïÏù∏: Í∞Å Ïó¥Ïùò Í≤∞Ï∏°Ïπò Í∞úÏàòÏôÄ ÎπÑÏú®ÏùÑ Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî. (isnull().sum() / len(df) * 100)

- Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ Ï†ÑÎûµ:

    > ÎπÑÏú®Ïù¥ ÎÜíÏùÄ Ïó¥: Í≤∞Ï∏°Ïπò ÎπÑÏú®Ïù¥ 50%Î•º Ï¥àÍ≥ºÌïòÎäî Ïó¥Ïù¥ ÏûàÎã§Î©¥, Ìï¥Îãπ Ïó¥ÏùÑ DataFrameÏóêÏÑú Ï†úÍ±∞ÌïòÏÑ∏Ïöî. (dropna(axis=1))

    > Ï§ëÏöî Ïó¥: ÌïµÏã¨ Î∂ÑÏÑùÏóê ÌïÑÏöîÌïú Ïó¥ (Ïòà: Í∞ÄÍ≤©, ÏàòÎüâ)Ïóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎã§Î©¥, ÌèâÍ∑† ÎòêÎäî Ï§ëÏïôÍ∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî. (fillna())

    > Î≤îÏ£ºÌòï Ïó¥: Î≤îÏ£ºÌòï Ïó¥Ïùò Í≤∞Ï∏°ÏπòÎäî 'Unknown' ÎòêÎäî ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî.

üöÄ Í≥ºÏ†ú 3: Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò Î∞è ÌååÏÉù Î≥ÄÏàò ÏÉùÏÑ± (Î≥ÄÌôò)

- ÌÉÄÏûÖ Î≥ÄÌôò: ÎÇ†Ïßú/ÏãúÍ∞Ñ Ï†ïÎ≥¥Î•º Ìè¨Ìï®ÌïòÎäî Ïó¥Ïù¥ ÏûàÎã§Î©¥, pd.to_datetime()ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ datetime ÌÉÄÏûÖÏúºÎ°ú Ï†ïÌôïÌûà Î≥ÄÌôòÌïòÏÑ∏Ïöî.

- ÌååÏÉù Î≥ÄÏàò ÏÉùÏÑ±: Î∂ÑÏÑùÏóê Ïú†Ïö©Ìïú ÏÉàÎ°úÏö¥ Ïó¥ÏùÑ ÎßåÎìúÏÑ∏Ïöî. ÏòàÎ•º Îì§Ïñ¥, 'Íµ¨Îß§ Í∏àÏï°'Í≥º 'Ìï†Ïù∏Ïú®'Ïù¥ ÏûàÎã§Î©¥ 'Ïã§Ï†ú ÏßÄÎ∂àÏï°' Ïó¥ÏùÑ Í≥ÑÏÇ∞ÌïòÏó¨ Ï∂îÍ∞ÄÌïòÏÑ∏Ïöî. (ÌûåÌä∏: Î≤°ÌÑ∞Ìôî Ïó∞ÏÇ∞ ÌôúÏö©)

üöÄ Í≥ºÏ†ú 4: Í∑∏Î£πÌôî Î∞è ÏßëÍ≥Ñ Î∂ÑÏÑù (Î∂ÑÏÑù)

- ÌïµÏã¨ ÏßÄÌëú ÏÇ∞Ï∂ú: ÌäπÏ†ï Î≤îÏ£ºÌòï Ïó¥ (Ïòà: 'Íµ≠Í∞Ä', 'Ï†úÌíà Ïπ¥ÌÖåÍ≥†Î¶¨')ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú **groupby()**Î•º ÏÇ¨Ïö©ÌïòÏó¨ Îã§ÏùåÏùÑ ÏàòÌñâÌïòÏÑ∏Ïöî.

- Í∑∏Î£πÎ≥Ñ ÌèâÍ∑†, Ìï©Í≥Ñ, Í∞úÏàòÎ•º ÎèôÏãúÏóê Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî. (agg() ÌôúÏö©)

- Í∞ÄÏû• Í±∞ÎûòÏï°Ïù¥ ÎÜíÏùÄ ÏÉÅÏúÑ 5Í∞ú Í∑∏Î£πÏùÑ Ï∞æÏúºÏÑ∏Ïöî. (sort_values() ÌôúÏö©)

üöÄ Í≥ºÏ†ú 5: Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù Î∞è Ï°∞Í±¥Î∂Ä Ï≤òÎ¶¨ (ÏàôÎ†®ÎèÑ)

- Î≥µÌï© Ï°∞Í±¥ ÌïÑÌÑ∞ÎßÅ: loc[] ÎòêÎäî Î∂ÄÏö∏ ÎßàÏä§ÌÇπÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ 'Í∞ÄÍ≤©Ïù¥ 100 Ïù¥ÏÉÅ' Ïù¥Î©¥ÏÑú 'ÏßÄÏó≠Ïù¥ ÏÑúÏö∏'Ïù∏ Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂úÌïòÏÑ∏Ïöî.
- Ï°∞Í±¥Î∂Ä Í∞í Î≥ÄÍ≤Ω: ÌäπÏ†ï Ï°∞Í±¥ (Ïòà: 'ÎÇòÏù¥'Í∞Ä 60ÏÑ∏ Ïù¥ÏÉÅ)ÏùÑ ÎßåÏ°±ÌïòÎäî ÌñâÏùò 'Îì±Í∏â' Ïó¥ Í∞íÏùÑ 'Gold'ÏóêÏÑú **'VIP'**Î°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî.

In [35]:
import pandas as pd
import numpy as np
from google.colab import files
import os

In [3]:
# Ìè¥ÎçîÏóê ÏûàÎäî ÌååÏùºÎ™Ö Í∞ÄÏ†∏Ïò§Í∏∞
file_names = os.listdir('/content/drive/MyDrive/Colab Notebooks/Ecommerce Order Dataset/train')

variable_names = []
for name in file_names:
  variable_names.append(name[:-4])
print(variable_names)
# ÎëêÍ∞úÏùò Î¨∏Ïûê ÏÇ¨Ïù¥Î•º ÏûêÎ•¥Îäî Í≤ÉÏùÄ Ï¢Ä Îçî Î≥µÏû°Ìïú Í≤É Í∞ôÏùå
# for name in file_names:
#   variable_names.append(name.split('_'))

['df_OrderItems', 'df_Customers', 'df_Orders', 'df_Payments', 'df_Products']

In [4]:
for i in variable_names:
  globals()['{}'.format(i)] = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Ecommerce Order Dataset/train/{}.csv'.format(i))
  # uniqueÎäî Ï§ëÎ≥µÎêòÏßÄ ÏïäÎäî dataÏùò Í∞ØÏàò

In [5]:
df_Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             89316 non-null  object
 1   product_category_name  89008 non-null  object
 2   product_weight_g       89301 non-null  float64
 3   product_length_cm      89301 non-null  float64
 4   product_height_cm      89301 non-null  float64
 5   product_width_cm       89301 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.1+ MB

In [6]:
df_Products.describe(include='all')

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,89316,89008,89301.000000,89301.000000,89301.000000,89301.00000
unique,27451,70,NaN,NaN,NaN,NaN
top,0vbEvli2JYJu,toys,NaN,NaN,NaN,NaN
freq,405,67027,NaN,NaN,NaN,NaN
mean,NaN,NaN,2087.068129,30.220658,16.559423,23.03421
std,NaN,NaN,3747.039215,16.110199,13.388514,11.68828
min,NaN,NaN,0.000000,7.000000,2.000000,6.00000
25%,NaN,NaN,300.000000,18.000000,8.000000,15.00000
50%,NaN,NaN,700.000000,25.000000,13.000000,20.00000
75%,NaN,NaN,1800.000000,38.000000,20.000000,30.00000
max,NaN,NaN,40425.000000,105.000000,105.000000,118.00000

In [7]:
df_Products.isnull().sum()

product_id                 0
product_category_name    308
product_weight_g          15
product_length_cm         15
product_height_cm         15
product_width_cm          15
dtype: int64

In [28]:
df_Products.isnull().sum()/len(df_Products)

product_id               0.000000
product_category_name    0.003448
product_weight_g         0.000168
product_length_cm        0.000168
product_height_cm        0.000168
product_width_cm         0.000168
dtype: float64

In [9]:
df_Orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB

In [10]:
df_Orders.describe(include='all')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
count,89316,89316,89316,89316,89307,87427,89316
unique,89316,89316,7,72775,68215,71143,444
top,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2017-08-08 20:26:31,2017-08-08 20:43:31,2017-08-14 12:46:18,2017-12-20
freq,1,1,87428,87,87,87,500

In [11]:
df_Orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
dtype: int64

In [23]:
df_Orders.isnull().sum()/len(df_Orders)*100
df_Orders.isnull().mean()*100
# ÏúÑ ÎëêÍ∞úÎäî Í∞ôÏùÄ Ïãù

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.010077
order_delivered_timestamp        2.114963
order_estimated_delivery_date    0.000000
dtype: float64

In [22]:
## Í≤∞Ï∏°Ïπò ÏÇ≠Ï†ú Ïã§Ìóò
df_Orders.dropna(thresh=6) #dataÍ∞Ä 6Í∞ú Ïù¥ÏÉÅ

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18
...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05

In [17]:
df_Products.isnull().mean()

product_id               0.000000
product_category_name    0.003448
product_weight_g         0.000168
product_length_cm        0.000168
product_height_cm        0.000168
product_width_cm         0.000168
dtype: float64

1. dropna()Ïùò thresh ÌååÎùºÎØ∏ÌÑ∞ ÌôúÏö©
dropna()ÏóêÎäî threshÎùºÎäî ÌååÎùºÎØ∏ÌÑ∞Í∞Ä ÏûàÏäµÎãàÎã§. Ïù¥Îäî **"Í≤∞Ï∏°ÏπòÍ∞Ä ÏïÑÎãå Ï†ïÏÉÅ Í∞íÏù¥ ÏµúÏÜå nÍ∞ú Ïù¥ÏÉÅ ÏûàÏñ¥Ïïº ÌïúÎã§"**Îäî Ï°∞Í±¥ÏùÑ ÏùòÎØ∏Ìï©ÎãàÎã§.

ÏõêÎ¶¨: (Ï†ÑÏ≤¥ Ìñâ Ïàò) - (ÌóàÏö©Ìï† ÏµúÎåÄ Í≤∞Ï∏°Ïπò Ïàò) = ÎÇ®Í≤®Ïïº Ìï† ÏµúÏÜå Ï†ïÏÉÅ Îç∞Ïù¥ÌÑ∞ Ïàò

ÏòàÏãú: Í≤∞Ï∏°Î•†Ïù¥ 30% Ïù¥ÏÉÅÏù∏ Ïó¥ÏùÑ ÏÇ≠Ï†úÌïòÍ≥† Ïã∂Îã§Î©¥, Î∞òÎåÄÎ°ú Ï†ïÏÉÅ Í∞íÏù¥ 70% Ïù¥ÏÉÅÏù¥Ïñ¥Ïïº Ìï©ÎãàÎã§.


```
# Ï†ÑÏ≤¥ ÌñâÏùò 70% Ïù¥ÏÉÅÏù¥ Ï†ïÏÉÅ Îç∞Ïù¥ÌÑ∞Ïù∏ Ïó¥Îßå ÎÇ®Í∏∞Í∏∞
threshold = len(df) * 0.7
df_cleaned = df.dropna(axis=1, thresh=threshold)
```
Ï∞∏Í≥†: threshÎäî 'ÏÇ≠Ï†úÌï† Í∏∞Ï§Ä'Ïù¥ ÏïÑÎãàÎùº **'Ïú†ÏßÄÌïòÍ∏∞ ÏúÑÌïú ÏµúÏÜåÌïúÏùò Ï†ïÏÉÅ Îç∞Ïù¥ÌÑ∞ Í∞úÏàò'**Î•º ÏùòÎØ∏ÌïúÎã§Îäî Ï†êÏóê Ï£ºÏùòÌïòÏÑ∏Ïöî!

2. Î∂àÎ¶¨Ïñ∏ Ïù∏Îç±Ïã±ÏùÑ ÌôúÏö©Ìïú Ï†ïÍµêÌïú ÏÇ≠Ï†ú (Ï∂îÏ≤ú)
thresh ÌååÎùºÎØ∏ÌÑ∞Îäî ÏßÅÍ¥ÄÏ†ÅÏù¥ÏßÄ ÏïäÏùÑ ÎïåÍ∞Ä ÎßéÏäµÎãàÎã§. Îç∞Ïù¥ÌÑ∞ÏÇ¨Ïù¥Ïñ∏Ìã∞Ïä§Ìä∏Îì§ÏùÄ Í∞ÄÎèÖÏÑ±ÏùÑ ÏúÑÌï¥ ÏïÑÎûòÏôÄ Í∞ôÏù¥ Í≤∞Ï∏°Î•†ÏùÑ ÏßÅÏ†ë Í≥ÑÏÇ∞ÌïòÏó¨ ÌïÑÌÑ∞ÎßÅÌïòÎäî Î∞©ÏãùÏùÑ Îçî ÏÑ†Ìò∏Ìï©ÎãàÎã§.

```
# 1. Í∞Å Ïó¥Î≥Ñ Í≤∞Ï∏°Î•† Í≥ÑÏÇ∞
missing_rate = df.isnull().mean()

# 2. Í≤∞Ï∏°Î•†Ïù¥ 30%(0.3) ÎØ∏ÎßåÏù∏ Ïó¥Îì§Ïùò Ïù¥Î¶ÑÎßå Ï∂îÏ∂ú
cols_to_keep = missing_rate[missing_rate < 0.3].index

# 3. Ìï¥Îãπ Ïó¥Îì§Îßå ÏÑ†ÌÉù
df_cleaned = df[cols_to_keep]
```
Ïù¥ Î∞©ÏãùÏùò Ïû•Ï†ê:

0.3Ïù¥ÎùºÎäî ÏàòÏπòÎ•º ÏΩîÎìúÏóê ÏßÅÏ†ë ÎÖ∏Ï∂úÌïòÏó¨ ÎèôÎ£åÍ∞Ä Î¥êÎèÑ ÏùòÎèÑÎ•º ÏâΩÍ≤å ÌååÏïÖÌï† Ïàò ÏûàÏäµÎãàÎã§.

Í≤∞Ï∏°Î•†ÎøêÎßå ÏïÑÎãàÎùº Îã§Î•∏ Î≥µÌï©Ï†ÅÏù∏ Ï°∞Í±¥(Ïòà: Í≤∞Ï∏°Î•† 30% ÎØ∏ÎßåÏù¥Î©¥ÏÑú ÌäπÏ†ï ÌÇ§ÏõåÎìúÎ•º Ìè¨Ìï®ÌïòÎäî Ïó¥ Îì±)ÏùÑ Î∂ôÏù¥Í∏∞ Ïö©Ïù¥Ìï©ÎãàÎã§.

In [53]:
# Í≤∞Ï∏°ÏπòÎ•º Ï†úÍ±∞ ÌïòÎäî Î∞©Î≤ï
# Í≤∞Ï∏°Î•†Ïùò Í∏∞Ï§ÄÏùÑ ÌñâÏúºÎ°ú Ïû°ÏùÑÏßÄ Ïó¥Î°ú Ïû°ÏùÑÏßÄÏóê Îî∞Îùº Î∞©Î≤ïÏù¥ Îã¨ÎùºÏßÑÎã§
# Ïù¥ Î¨∏ÏÑú Ï¥àÎ∞òÏóêÎäî Ìïú Ïó¥Ïùò Í≤∞Ï∏°Î•†Ïù¥ ÏùºÏ†ï ÎπÑÏú® Ïù¥ÏÉÅÏù¥ ÎêúÎã§Î©¥ Ï†úÍ±∞ÌïòÎùºÍ≥† ÌñàÎã§
test = {
    'Name': ['Alice', 'Bob', 'Aritra'],
    'Age': [25, np.nan, np.nan],
    'Location': [np.nan, 'New York', 'Kona'],
    'Salary': [np.nan, 50000, 60000]
}
df_test = pd.DataFrame(test)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      3 non-null      object
 1   Age       1 non-null      float64
 2   Location  2 non-null      object
 3   Salary    2 non-null      float64
dtypes: float64(2), object(2)
memory usage: 228.0+ bytes

In [70]:
# dropnaÏùò 'thresh'Îäî ÎÇ®ÏïÑ ÏûàÏñ¥Ïïº ÌïòÎäî data Í∏∞Ï§ÄÏù¥Îã§.
# Ï¶â threshold*Ï†ÑÏ≤¥ ÌñâÏùò Í∞ØÏàò=ÎÇ®ÏïÑÏûàÏñ¥Ïïº ÌïòÎäî ÌïòÎäî data Í∞ØÏàòÏù¥Îã§
# Î≥¥ÌÜµÏùÄ 'Í≤∞Ï∏°ÏπòÍ∞Ä Î™á% Ïù¥ÏÉÅÏù¥Î©¥ Í∑∏ Ïó¥ÏùÑ Ï†úÍ±∞ÌïúÎã§'Í∞Ä ÏùºÎ∞òÏ†ÅÏù¥Îã§.
# Í∑∏Îü∞Îç∞ Ïù¥ Î∞©Î≤ïÏùÄ Í∑∏ 'Î™á%'Î•º Í±∞Íæ∏Î°ú ÏûÖÎ†•Ìï¥ÏïºÌïúÎã§.
threshold = 0.7
missing_rate = df_test.isnull().mean()
df_cleaned = df_test.dropna(axis=1, thresh=threshold*len(df_test))
print(df_cleaned)

     Name
0   Alice
1     Bob
2  Aritra

In [69]:
# dropnaÏôÄ Îã§Î•¥Í≤å Ïù¥ Î∞©Î≤ïÏùÄ thresholdÎ•º ÎÑòÎäî = Í≤∞Ï∏°Î•†Ïù¥ threshold ÎØ∏ÎßåÏù∏ index(column)Îßå ÎÇ®Í∏¥Îã§.
threshold = 0.7
missing_rate = df_test.isnull().mean()
cols_to_keep = missing_rate[missing_rate < threshold].index
df_cleaned = df_test[cols_to_keep]
print(df_cleaned)

     Name   Age  Location   Salary
0   Alice  25.0       NaN      NaN
1     Bob   NaN  New York  50000.0
2  Aritra   NaN      Kona  60000.0